@font-face {
  font-family: "HeadingPro";
  src: url("../fonts/HeadingPro-Regular.otf") format("opentype"); }
body {
  margin: 0;
  padding: 0;
  font-family: HeadingPro, sans-serif; }

div.section {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  div.section h1 {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    text-transform: uppercase; }
  div.section#sec1 {
    background-color: #1B1D26; }
    div.section#sec1 h1 {
      color: #fff; }
  div.section#sec2 {
    background-image: url("../imgs/skytree.jpg"); }
    div.section#sec2 h1 {
      color: #fff; }
  div.section#sec3 {
    background-color: #425955; }

ul#tabs {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 0; }
  ul#tabs li {
    flex: 1;
    margin: 0 20px;
    list-style: none;
    text-align: center; }
    ul#tabs li a {
      position: relative;
      display: block;
      padding: 10px 0;
      transition: 0.3s;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 16px; }
    ul#tabs li::before, ul#tabs li::after {
      position: relative;
      z-index: -1;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 2px;
      content: '';
      transition: transform 0.2s ease-out;
      transform: scaleX(0);
      background: #fff; }
    ul#tabs li::before {
      top: 0;
      left: 0;
      margin-bottom: 5px;
      transform-origin: right; }
    ul#tabs li::after {
      bottom: 0;
      left: 0;
      margin-top: 5px;
      transform-origin: left; }
    ul#tabs li:hover::before {
      transform: scaleX(1); }
    ul#tabs li:hover::after {
      transform: scaleX(1); }

div#centerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%); }

div#hamburger {
  position: fixed;
  top: 20px;
  right: 30px;
  display: none;
  width: 60px;
  height: 40px; }
  div#hamburger span {
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    transition: 0.3s;
    background-color: #fff; }
    div#hamburger span:nth-child(2) {
      transform: translateY(20px); }
    div#hamburger span:nth-child(3) {
      transform: translateY(20px); }
    div#hamburger span:nth-child(4) {
      transform: translateY(40px); }
  div#hamburger:hover span:nth-child(1) {
    transform: translateY(-20px);
    opacity: 0; }
  div#hamburger:hover span:nth-child(2) {
    transform: translateY(20px) rotate(45deg); }
  div#hamburger:hover span:nth-child(3) {
    transform: translateY(20px) rotate(-45deg); }
  div#hamburger:hover span:nth-child(4) {
    transform: translateY(60px);
    opacity: 0; }

a#slideBtn {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  margin: 5px;
  text-decoration: none;
  letter-spacing: 4px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 25px; }
  a#slideBtn span {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff; }
  a#slideBtn::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    transition: 0.2s ease-in-out;
    background: #fff; }
  a#slideBtn:hover::before {
    height: 100%; }
  a#slideBtn:hover span {
    transition: transform 0.5s;
    transform: translateY(-100%); }
    a#slideBtn:hover span::before {
      position: absolute;
      top: 100%;
      left: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      content: attr(data-text);
      color: #1B1D26; }

a#spinBtn {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px 20px;
  transition: 0.4s;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff; }
  a#spinBtn span::before, a#spinBtn span::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    content: '';
    transition: 0.3s; }
  a#spinBtn span::before {
    top: 3px;
    left: -8px;
    transform: rotate(45deg);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff; }
  a#spinBtn span::after {
    top: 3px;
    right: -8px;
    transform: rotate(45deg);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff; }
  a#spinBtn:hover {
    border-radius: 30px; }
    a#spinBtn:hover span::before {
      left: -25px;
      transform: rotate(-135deg); }
    a#spinBtn:hover span::after {
      right: -25px;
      transform: rotate(-135deg); }

a#fadeBtn {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px 20px;
  transition: 0.4s;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff; }
  a#fadeBtn span::before, a#fadeBtn span::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    content: '';
    transition: 0.3s; }
  a#fadeBtn span::before {
    top: 3px;
    left: -8px;
    transform: rotate(45deg); }
  a#fadeBtn span::after {
    top: 3px;
    right: -8px;
    transform: rotate(45deg); }
  a#fadeBtn:hover {
    border-radius: 30px; }
    a#fadeBtn:hover span::before {
      left: -25px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff; }
    a#fadeBtn:hover span::after {
      right: -25px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff; }

@media screen and (max-width: 520px) {
  ul#tabs {
    display: none; }

  div#hamburger {
    display: block; } }

/*# sourceMappingURL=styles.css.map */
