@import '../mixin/fonts';

@include font-face('HeadingPro', '../fonts/HeadingPro-Regular', null, null, otf);

$dark-gray: #1B1D26;
$dark-green: #425955;
$mid-green: #778C7A;
$light-beige: #F1F2D8;
$beige: #BFBD9F;
$white: #fff;

body {
  margin: 0;
  padding: 0;

  font-family: HeadingPro, sans-serif;
}

div.section {
  display: block;

  width: 100%;
  height: 100vh;

  text-align: center;

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  h1 {
    margin-bottom: 20px;

    vertical-align: middle;
    text-transform: uppercase;
  }
  &#sec1 {
    background-color: $dark-gray;
    h1{
      color: $white;
    }
  }
  &#sec2 {
    background-image: url('../imgs/skytree.jpg');
    h1{
      color: $white;
    }
  }
  &#sec3 {
    background-color: $dark-green;
  }
}

div#centerWrapper {
  position: relative;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  flex-direction: column;

  transform: translate(-50%, -50%);
}

ul#tabs {
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin-top: 10px;
  padding: 0;
  li {
    flex: 1;

    margin: 0 20px;

    list-style: none;

    text-align: center;

    a {
      position: relative;

      display: block;

      padding: 10px 0;

      transition: 0.3s;
      text-decoration: none;
      text-transform: uppercase;

      color: $white;

      font-size: 16px;
    }

    &::before, &::after {
      position: relative;
      z-index: -1;

      display: block;
      overflow: hidden;

      width: 100%;
      height: 2px;

      content: '';
      transition: transform 0.2s ease-out;
      transform: scaleX(0);

      background: $white;
    }
    &::before {
      top: 0;
      left: 0;

      margin-bottom: 5px;

      transform-origin: right;
    }
    &::after{
      bottom: 0;
      left: 0;

      margin-top: 5px;

      transform-origin: left;

    }
    &:hover {
        &::before {
          transform: scaleX(1);
        }
        &::after {
          transform: scaleX(1);
        }
    }
  }
}

div#hamburger {
  position: fixed;
  top: 20px;
  right: 30px;

  display: none;

  width: 60px;
  height: 40px;
  span {
    position: absolute;

    display: block;

    width: 60px;
    height: 3px;

    transition: 0.3s;

    background-color: $white;
    &:nth-child(2) {
      transform: translateY(20px);
    }
    &:nth-child(3) {
      transform: translateY(20px);
    }
    &:nth-child(4) {
      transform: translateY(40px);
    }
  }
  &:hover {
    span {
      &:nth-child(1) {
        transform: translateY(-20px);

        opacity: 0;
      }
      &:nth-child(2) {
        transform: translateY(20px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(20px) rotate(-45deg);
      }
      &:nth-child(4) {
        transform: translateY(60px);

        opacity: 0;
      }
    }
  }
}

a#slideBtn{
  position: relative;

  display: block;
  overflow: hidden;

  box-sizing: border-box;
  margin: 5px;

  text-decoration: none;
  letter-spacing: 4px;

  color: $white;
  border: 2px solid $white;
  border-radius: 25px;

  span {
    position: relative;

    display: inline-block;

    padding: 10px 20px;

    color: $white;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0;

    content: '';
    transition: 0.2s ease-in-out;

    background: $white;
  }

  &:hover {
    &::before {
      height: 100%;
    }
    span {
      transition: transform 0.5s;
      transform: translateY(-100%);
      &::before {
        position: absolute;
        top: 100%;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px 20px;

        content: attr(data-text);

        color: $dark-gray;
      }
    }
  }
}
a#spinBtn {
  position: relative;

  display: block;

  box-sizing: border-box;
  margin: 5px;
  padding: 10px 20px;

  transition: 0.4s;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: $white;
  border: 2px solid $white;
  span {
    &::before, &::after {
      position: absolute;

      display: block;

      width: 30px;
      height: 30px;

      content: '';
      transition: 0.3s;
    }
    &::before {
      top: 3px;
      left: -8px;

      transform: rotate(45deg);

      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
    }
    &::after {
      top: 3px;
      right: -8px;

      transform: rotate(45deg);

      border-top: 2px solid $white;
      border-right: 2px solid $white;
    }
  }
  &:hover {
    border-radius: 30px;
    span {
      &::before {
        left: -25px;

        transform: rotate(-135deg);
      }
      &::after {
        right: -25px;

        transform: rotate(-135deg);
      }
    }
  }
}

a#fadeBtn {
  position: relative;

  display: block;

  box-sizing: border-box;
  margin: 5px;
  padding: 10px 20px;

  transition: 0.4s;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: $white;
  border: 2px solid $white;
  span {
    &::before, &::after {
      position: absolute;

      display: block;

      width: 30px;
      height: 30px;

      content: '';
      transition: 0.3s;
    }
    &::before {
      top: 3px;
      left: -8px;

      transform: rotate(45deg);

    }
    &::after {
      top: 3px;
      right: -8px;

      transform: rotate(45deg);
    }
  }
  &:hover {
    border-radius: 30px;
    span {
      &::before {
        left: -25px;

        border-top: 2px solid $white;
        border-right: 2px solid $white;
      }
      &::after {
        right: -25px;

        border-bottom: 2px solid $white;
        border-left: 2px solid $white;

      }
    }
  }
}

a#squareBtn {
  position: relative;

  display: inline-grid;

  width: 50px;
  height: 50px;
  margin: 25px;

  transition: 0.3s 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  color: $white;

  line-height: 50px;
  &::before {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;

    display: block;

    width: 30px;
    height: 30px;

    content: '';
    transition: 0.3s 0.2s;
  }
  &::after {
    position: absolute;
    top: -2px;
    left: -2px;

    width: 50px;
    height: 50px;

    content: '';
    transition: 0.3s;
  }
  &:hover {
    color: $dark-gray;
    &::before {
      top: -10px;
      left: -10px;

      width: 70px;
      height: 70px;

      background-color: $light-beige;
    }
    &::after {
      top: -12px;
      left: -12px;

      width: 70px;
      height: 70px;

      transform: rotate(45deg);

      border: 2px solid $dark-gray;
    }
  }
}

@media screen and (max-width: 520px) {
  ul#tabs {
    display: none;
  }
  div#hamburger {
    display: block;
  }
}
